html,
body {
	margin: 0;
	padding: 0;
}
.menu{
    margin:0 5px;
}
 
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	/* min-width: 230px;
	max-width: 550px; */
	/* margin: 0 auto; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	margin:0 auto!important;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}
.contentside {
    height: 100%; /* 100% Full-height */
	margin-top: 10px; /* Place content 60px from the top */
}
.contentside .subscriptionForm {
    -moz-background-clip: padding;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 0 10px #b4b4b4;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #b4b4b4;
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #b4b4b4;
    /*margin: 40px 40px 0px 80px;*/
    margin-bottom: 200px;
    padding: 25px 40px;
    width: 100%;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 25%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    /* z-index: 1; Stay on top */
    top: 0;
    left:0;
    background-color: #f1f1f1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s
}
.sidenav ul {
	-webkit-padding-start: 0px!important;
	margin:0 5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
.main{
   padding-top: 10%;
    width: 50%;
    margin:auto;
}
.form_login {
    margin:auto;
    vertical-align: middle;
    width: 40%;
 }
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
 
 
 