<!-- <section class="todoapp">
  <app-todo-list-header
    (add)="onAddTodo($event)"
  ></app-todo-list-header>
  <app-todo-list
    [todos]="todos"
    (toggleComplete)="onToggleTodoComplete($event)"
    (remove)="onRemoveTodo($event)"
  ></app-todo-list>
  <app-todo-list-footer
    [todos]="todos"
  ></app-todo-list-footer>
</section> -->

<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-12">
      <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>
    </div>

  </div> -->
  <div class="row">

    <div class="col-3">
      <app-left-menu-list [menus]="menus"></app-left-menu-list>
    </div>
    <div class="col-9">
       <app-content-item></app-content-item>
    </div>

  </div>
  <!-- <div class="row">
    <div class="col-12">
      <app-todo-list-footer [menus]="todos"></app-todo-list-footer>
    </div>
  </div> -->
</div>